@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {} */

.image {
    background-image: url(./assets/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: drop-shadow(16px 16px 20px red) contrast(100%);
}

.over::-webkit-scrollbar {
    display: none;
}

.family {
    font-family: 'PT Serif', serif;
}

.d_family {
    font-family: 'Pacifico', cursive;
}
